extends layout

block content
    p #{title}

    input.form-control.name(type="text",value='#{obj.name}')

    textarea.form-control.mt10.details(name="", cols="30", rows="10") #{obj.details}
    input.btn.btn-primary.mt10.f-right(type="button",value="确定",onclick="add()")

    script.
        function add(){
            var name=$(".name").val();
            var details=$(".details").val()
            $.post("/add/addBlogs",{name:name,'details':details},function(rep){
                var data =JSON.parse(rep)
                if(data.code==1){
                    window.location.href="/?page=1"
                }
            });
        }

    